<p class="intro__aboutme">
I am an Assistant Professor in Division of Computer Science and Engineering at Jeonbuk National University. I received my Ph.D. in Computer Science and Engineering from Seoul National University, where I was advised by <a href="https://datalab.snu.ac.kr/~ukang/" target="_blank">Prof. U Kang</a>. I received M.S. in Computer Science from KAIST, and B.S. in Computer Science and Engineering from Jeonbuk National University. 
My research interests include graph machine learning, large-scale data analytics, and applied data science.
</p>