<header>
    <div class="container">
        <p class="intro__main"> {{ site.name }} </p>
        <div>
        <p class="intro__post">{{ site.job }}</p>
        <p class="contact">{{ site.email }}</p>
        <p class="contact">{{ site.location }}</p>
        <p class="contact">
            <a href="https://scholar.google.com/citations?user=0RcixOoAAAAJ&hl=ko" target="_blank"> Google Scholar</a> | 
            <a href="https://dblp.uni-trier.de/pid/163/0678.html" target="_blank">DBLP</a> | 
            <a href="https://github.com/jinhongjung" target="_blank">GitHub</a> | 
            <a href="#" onclick="beforePrint()" style="color:black !important;">CV</a>
        </p>
        </div>
        {% include aboutme.html %}
    </div>
</header>