<!--Education-->

<div class="container section">
    <div class="row">
        <div class="col-sm-2">
            <h3 class="section-title">
                Education
            </h3>
        </div>
        <div class="col-sm-10">
            <div class="item">
                <div class="title_item">
                    <div class="title">Ph.D. in Computer Science and Engineering</div>
                    <div class="date">Feb. 2020</div>
                </div>
                <p>Seoul National University</p>
                <p>
                Thesis: Random Walk-based Large Graph Mining Exploiting Real-world Graph Properties  
                    <a href="/assets/resources/papers/thesis.pdf" target="_blank" title="paper" style="padding-left:2px;">
                        <i class="fas fa-file-pdf fa-fw"></i>
                    </a>
                    <a href="/assets/resources/slides/thesis.pdf" target="_blank" title="slide">
                        <i class="fas fa-file-powerpoint fa-fw"></i>
                    </a>
                </p>
                <p>Advisor: Prof. U Kang</p>
            </div>
            <div class="item">
                <div class="title_item">
                    <div class="title">M.S. in Computer Science</div>
                    <div class="date">Aug. 2015</div>
                </div>
                <p>Korea Advanced Institute of Science and Technology</p>
                <p>Advisor: Prof. U Kang</p>
            </div>
            <div class="item">
                <div class="title_item">
                    <div class="title">B.S. in Computer Science and Engineering</div>
                    <div class="date">Feb. 2014</div>
                </div>
                <p>Jeonbuk National University</p>
            </div>
        </div>
    </div>
</div>


<div class="container section">
    <div class="row">
        <div class="col-sm-2">
            <h3 class="section-title">Position</h3>
        </div>
        <div class="col-sm-10">
            <div class="item">
                <div class="title_item">
                    <div class="title">Assistant Professor</div>
                    <div class="date">Sep. 2020 - Present</div>
                </div>
                <p>Division of Computer Science and Engineering</p>
                <p>Jeonbuk National University</p>
            </div>
            <div class="item">
                <div class="title_item">
                    <div class="title">Postdoctoral Research Fellow</div>
                    <div class="date">Mar. 2020 - Aug. 2020</div>
                </div>
                <p>Data Mining Lab.</p>
                <p>Seoul National University</p>
            </div>
        </div>
    </div>
</div>

<!-- Awards -->
<div class="container section" id="largescreen">
    <div class="row">
        <div class="col-sm-2">
            <h3 class="section-title">Awards</h3>
        </div>
        <div class="col-sm-10">
            {% for award in site.data.awards %}
                {% if forloop.index < 6 %}
                    <div class="item no_mb">
                        <div class="title_item">
                            <div>{{ award.title }} @ {{ award.orginization }}</div>
                            <div class="date">{{ award.date }}</div>
                        </div>
                    </div>
                {% else %}
                    {% if forloop.index == 6 %}
                    <div class="read_more">
                        · · ·
                        <a data-bs-toggle="collapse" href="#more-award" id="more-button">Read more</a>
                        · · ·
                    </div>
                    {% endif %}
                    <div id="more-award" class="item no_mb collapse">
                        <div class="title_item">
                            <div>{{ award.title }} @ {{ award.orginization }}</div>
                            <div class="date">{{ award.date }}</div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="item"></div>
        </div>
    </div>
</div>

<div class="container section" id="smallscreen">
    <div class="row">
        <div class="col-sm-2">
            <h3 class="section-title">Awards</h3>
        </div>
        <div class="col-sm-10">
            {% for award in site.data.awards %}
                {% if forloop.index < 6 %}
                    <div class="item no_mb">
                        <p class="long-and-truncated">{{ award.title }}</p>
                        <div class="title_item">
                            <div>@ {{ award.orginization }} </div>
                            <div class="date">{{ award.date }}</div>
                        </div>
                    </div>
                {% else %}
                    {% if forloop.index == 6 %}
                    <div class="read_more">
                        · · ·
                        <a data-bs-toggle="collapse" href="#more-award" id="more-button">Read more</a>
                        · · ·
                    </div>
                    {% endif %}
                    <div id="more-award" class="item no_mb collapse">
                        <p class="long-and-truncated">{{ award.title }}</p>
                        <div class="title_item">
                            <div>@ {{ award.orginization }} </div>
                            <div class="date">{{ award.date }}</div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="item"></div>
        </div>
    </div>
</div>

<!-- Publications -->
<div class="container section">
    <div class="row">
        <div class="col-sm-2">
            <h3 class="section-title">Publications</h3>
        </div>
        <div class="col-sm-10">
            <!--
            <h3 style="font-weight:bold;">Refereed Conference and Journal Papers - [Google Scholar | DBLP]
            </h3>
            -->
            <li class="venue">
                    <div style="padding-left: -2.3em;">
                        <div style="font-weight:bold;">Refereed Conference and Journal Papers</div>
                    </div>
                    <div>

                        <a href="https://scholar.google.co.kr/citations?user=0RcixOoAAAAJ&hl=en" target="_blank" title="Google Scholar">
                            <i class="ai ai-google-scholar-square fa-fw"></i>
                        </a>
                        <a href="https://dblp.uni-trier.de/pid/163/0678.html" target="_blank" title="DBLP">
                            <i class="ai ai-dblp-square fa-fw"></i>
                        </a>
                    </div>
            </li>
            <ol>
                {% for paper in site.data.papers %}
                <li>
                    <span>
                        <font style="font-weight:bold;">{{ paper.title }}</font> <br>
                        {% if paper.authors.size == 2 %}
                            {{ paper.authors[0] }} and {{ paper.authors[1] }}
                        {% else %}
                            {% for author in paper.authors %}
                                {% if forloop.last == true %}
                                    and {{ author }}
                                {% else %}
                                    {{ author }},
                                {% endif %}
                            {% endfor %}
                        {% endif %} <br>
                        <span class="venue">
                            <div style="padding-left: 2.3em" class="long-and-truncated">
                            {% if paper.publisher.link != nil %}
                                <a href="{{ paper.publisher.link }}" target="_blank" title="{{ paper.publisher.full-venue}}">
                                    {{ paper.publisher.venue }}
                                </a>
                            {% else %}
                                {{ paper.publisher.venue }}
                            {% endif %}
                            </div>
                            <div>
                                <a href="{{ paper.pdf }}" title="paper" target="_blank">
                                    <i class="fas fa-file-pdf fa-fw"></i>
                                </a>

                                {% if paper.bib != nil %}
                                <a href="{{ paper.bib }}" title="bibtex" target="_blank">
                                    <i class="fas fa-file fa-fw"></i>
                                </a>
                                {% else %}
                                    <i  style="color:white;" class="fas fa-ban fa-fw"></i>
                                {% endif %}

                                {% if paper.slide != nil %}
                                <a href="{{ paper.slide }}" title="slide" target="_blank">
                                    <i class="fas fa-file-powerpoint fa-fw"></i>
                                </a>
                                {% else %}
                                    <i  style="color:white;" class="fas fa-ban fa-fw"></i>
                                {% endif %}

                                {% if paper.code != nil %}
                                <a href="{{ paper.code }}" title="code" target="_blank">
                                    <i class="fab fa-github-square fa-fw"></i>
                                </a>
                                {% else %}
                                    <i style="color:white;" class="fa fa-ban fa-fw"></i>
                                {% endif %}
                            </div>
                        </span>
                    </span>
                </li>
                {% endfor %}
            </ol>

            <h3 style="font-weight:bold;">Preprints</h3>
            <ol>
                {% for paper in site.data.preprints %}
                    {% if forloop.index <= 3 %}
                        {% assign collapsed = "" %}
                        {% assign mp_id = "" %}
                    {% else %}
                        {% assign collapsed = "collapse" %}
                        {% assign mp_id = "more-preprint" %}
                    {% endif %}
                    <li class="{{ collapsed }}" id="{{ mp_id }}">
                        <span>
                            <font style="font-weight:bold;">{{ paper.title }}</font> <br>
                            {% if paper.authors.size == 2 %}
                                {{ paper.authors[0] }} and {{ paper.authors[1] }}
                            {% else %}
                                {% for author in paper.authors %}
                                    {% if forloop.last == true %}
                                        and {{ author }}
                                    {% else %}
                                        {{ author }},
                                    {% endif %}
                                {% endfor %}
                            {% endif %} <br>
                            <span class="venue">
                                <div style="padding-left: 2.3em;">
                                {% if paper.publisher.link != nil %}
                                    <a href="{{ paper.publisher.link }}" target="_blank">
                                        {{ paper.publisher.venue }} {{ paper.year }}
                                    </a>
                                {% else %}
                                    {{ paper.publisher.venue }} {{ paper.year }}
                                {% endif %}
                                </div>
                                <div>
                                    <a href="{{ paper.pdf }}" title="paper" target="_blank">
                                        <i class="fas fa-file-pdf fa-fw"></i>
                                    </a>
                                    <a href="">
                                        <i class=""></i>
                                    </a>
                                    <a href="">
                                        <i class=""></i>
                                    </a>
                                    <a href="{{ paper.code }}" title="code" target="_blank">
                                        <i class="fab fa-github-square fa-fw"></i>
                                    </a>
                                </div>
                            </span>
                        </span>
                    </li>
                    {% if forloop.index == 3 %}
                    <div class="read_more">
                        · · ·
                        <a data-bs-toggle="collapse" href="#more-preprint" id="more-button">Read more</a>
                        · · ·
                    </div>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row">
        <div class="col-sm-2">
            <h3 class="section-title">
                Service
            </h3>
        </div>
        <div class="col-sm-10">
            <h3 style="font-weight:bold;">Program Committee Member</h3>
            <ol>
                {% for service in site.data.services %}
                    {% if service.type == "pcmember" %}
                    <div class="item no_mb">
                        <div class="title_item">
                            <div title="{{ service.full-venue }}">· {{ service.venue }}</div>
                            <div class="date">
                                {% for item in service.years %}
                                    {% if item.link != nil %}
                                        <a href="{{ item.link }}" target="_blank">
                                        {{ item.year }}
                                        </a>
                                    {% else %}
                                        {{ item.year }}
                                    {% endif %}
                                    {% if forloop.last == false %}
                                    |
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </ol>
            <div class="item"></div>
            <h3 style="font-weight:bold;">Journal Reviewer</h3>
            <ol>
                {% for service in site.data.services %}
                    {% if service.type == "journal" %}
                    <div class="item no_mb">
                        <div class="title_item">
                            <div title="{{ service.full-venue }}">· {{ service.venue }}</div>
                            <div class="date">
                                {% for item in service.years %}
                                    {% if item.link != nil %}
                                        <a href="{{ item.link }}" target="_blank">
                                        {{ item.year }}
                                        </a>
                                    {% else %}
                                        {{ item.year }}
                                    {% endif %}
                                    {% if forloop.last == false %}
                                    |
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </ol>

            <div class="item"></div>
            <h3 style="font-weight:bold;">External Conference Reviewer</h3>

            {% assign count = 0 %}
            {% for service in site.data.services %}
                {% if service.type == "reviewer" %}
                    {% if count < 3 %}
                        {% assign collapsed = "" %}
                        {% assign mp_id = "" %}
                    {% else %}
                        {% assign collapsed = "collapse" %}
                        {% assign mp_id = "more-services" %}
                    {% endif %}

                    <div class="item no_mb {{ collapsed }}" id="{{ mp_id }}">
                        <div class="title_item">
                            <div title="{{ service.full-venue }}">
                            · {{ service.venue }}
                            </div>
                            <div class="date">
                                {% for item in service.years %}
                                    {% if item.link != nil %}
                                        <a href="{{ item.link }}" target="_blank">
                                        {{ item.year }}
                                        </a>
                                    {% else %}
                                        {{ item.year }}
                                    {% endif %}
                                    {% if forloop.last == false %}
                                    |
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% if count == 2 %}
                    <div class="read_more">
                        · · ·
                        <a data-bs-toggle="collapse" href="#more-services" id="more-button">Read more</a>
                        · · ·
                    </div>
                    {% endif %}

                    {% assign count = count | plus:1 %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="container section" id="largescreen">
    <div class="row">
        <div class="col-sm-2">
            <h3 class="section-title">Miscellaneous</h3>
        </div>
        <div class="col-sm-10">
            <h3 style="font-weight:bold;">Talks or Tutorials</h3>
            {% for talk in site.data.talks %}
                <div class="item no_mb">
                    <div class="title_item">
                        <div>· {{ talk.title }} @ {{ talk.venue }} </div>
                        <div class="date">{{ talk.month }} {{ talk.year }}</div>
                    </div>
                </div>
            {% endfor %}
            <div class="item"></div>

            <h3 style="font-weight:bold;">Teaching Experience - Instructor</h3>
            {% for lecture in site.data.lectures %}
                <div class="item no_mb">
                    <div class="title_item">
                        <div>· {{ lecture.title }} @ {{ lecture.school }} </div>
                        <div class="date">
                        {% for year in lecture.years %}
                            {{ year }}
                            {% if forloop.last == false %}
                            |
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container section" id="smallscreen">
    <div class="row">
        <div class="col-sm-2">
            <h3 class="section-title">Miscellaneous</h3>
        </div>
        <div class="col-sm-10">
            <h3 style="font-weight:bold;">Talks or Tutorials</h3>
            {% for talk in site.data.talks %}
                <div class="item no_mb">
                    <p class="long-and-truncated">· {{ talk.title }}</p>
                    <div class="title_item">
                        <div style="padding-left: 7px;">@ {{ talk.venue }}</div>
                        <div class="date">{{ talk.year }}</div>
                    </div>
                </div>
            {% endfor %}
            <div class="item"></div>

            <h3 style="font-weight:bold;">Teaching Experience - Instructor</h3>
            {% for lecture in site.data.lectures %}
                <div class="item no_mb">
                    <div class="title_item">
                        <div>· {{ lecture.title }} @ {{ lecture.school }} </div>
                        <div class="date">
                        {% for year in lecture.years %}
                            {{ year }}
                            {% if forloop.last == false %}
                            |
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>