<div class="container section">
    <div class="row">
        <div class="col-sm-2">
            <h3 class="section-title">
                Education
            </h3>
        </div>
        <div class="col-sm-10">
            <div class="item">
                <div class="title_item">
                    <div class="title">Ph.D. in Computer Science and Engineering</div>
                    <div class="date">Feb. 2020</div>
                </div>
                <p>Seoul National University</p>
                <p>
                Thesis: Random Walk-based Large Graph Mining Exploiting Real-world Graph Properties  
                    <a href="/assets/resources/papers/thesis.pdf" target="_blank" title="paper" style="padding-left:2px;">
                        <i class="fas fa-file-pdf fa-fw"></i>
                    </a>
                    <a href="/assets/resources/slides/thesis.pdf" target="_blank" title="slide">
                        <i class="fas fa-file-powerpoint fa-fw"></i>
                    </a>
                </p>
                <p>Advisor: Prof. U Kang</p>
            </div>
            <div class="item">
                <div class="title_item">
                    <div class="title">M.S. in Computer Science</div>
                    <div class="date">Aug. 2015</div>
                </div>
                <p>Korea Advanced Institute of Science and Technology</p>
                <!--
                <p>
                Thesis: Random Walk with Restart on Large Graphs using Block Elimination
                </p>
                -->
                <p>Advisor: Prof. U Kang</p>
            </div>
            <div class="item">
                <div class="title_item">
                    <div class="title">B.S. in Computer Science and Engineering</div>
                    <div class="date">Feb. 2014</div>
                </div>
                <p>Jeonbuk National University</p>
            </div>
        </div>
    </div>
</div>