{% assign sorted_awards = site.data.awards | sort: "Date" | reverse %}
{% assign std_awards = sorted_awards | where_exp: "award", "award.Type contains 'Student'" %}
{% assign sorted_talks = site.data.talks | sort: "Date" | reverse %}
{% assign sorted_patents = site.data.patents | sort: "FilingDate" | reverse %}
{% assign sorted_projects = site.data.projects_new | sort: "StartDate" | reverse %}

<!--largescreen-->
<div class="container section" id="largescreen">
    <div class="row">
        <div class="col-sm-2">
            <h3 class="section-title">Miscellaneous</h3>
        </div>
        <div class="col-sm-10">

            <h3 style="font-weight:bold;">My Students' Awards</h3>
            {% for award in std_awards %}
                <div class="item no_mb">
                    <div class="title_item">
                        <div>· {{ award.Students |join: ", " }}, {{ award.Title }} @ {{ award.Organization }} </div>
                        <div class="date">{{ award.Date | date: "%b. %Y" }}</div>
                    </div>
                </div>
            {% endfor %}
            <div class="item"></div>


            <h3 style="font-weight:bold;">Projects</h3>
            {% assign current_year = 'now' | date: "%Y" | plus: 0 %}
            {% for project in sorted_projects %}
                {% assign end_year = project.EndDate | date: "%Y" | plus: 0 %}
                {% if end_year >= current_year %}
                    {% assign end_year = "present" %}
                {% else %}
                    {% assign end_year = project.EndDate | date: "%Y" %}
                {% endif %}
                <div class="item no_mb">
                    <div class="title_item">
                        <div>· {{ project.Title }} @ {{ project.Source }} </div>
                        <div class="date">{{ project.StartDate | date: "%Y" }}-{{ end_year }}</div>
                    </div>
                </div>
            {% endfor %}
            <div class="item"></div>

            <h3 style="font-weight:bold;">Talks or Guest Lectures</h3>
            {% for talk in sorted_talks %}
                <div class="item no_mb">
                    <div class="title_item">
                        <div>· <a href="{{ talk.Slide.url }}" target="_blank">{{ talk.Title }}</a> @ {{ talk.Venue }} </div>
                        <div class="date">{{ talk.Date | date: "%b. %Y" }}</div>
                    </div>
                </div>
            {% endfor %}
            <div class="item"></div>

            <h3 class="text-bold">Patents</h3>
            {% for patent in sorted_patents %}
                <div class="item no_mb">
                    <div class="title_item">
                        <div>· <a href="{{ patent.DOI.url }}" target="_blank">{{ patent.Title.en | truncatewords: 10 }}</a> </div>
                        <div class="date">
                            {{ patent.FilingDate | date: "%b. %Y" }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="item"></div>

            <h3 style="font-weight:bold;">Teaching Experience - Instructor</h3>
            {% for lecture in site.data.lectures %}
                <div class="item no_mb">
                    <div class="title_item">
                        <div>· {{ lecture.title }} @ {{ lecture.school }} </div>
                        <div class="date">
                        {% for year in lecture.years %}
                            {{ year }}
                            {% if forloop.last == false %}
                            |
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!--smallscreen-->
<div class="container section" id="smallscreen">
    <div class="row">
        <div class="col-sm-2">
            <h3 class="section-title">Miscellaneous</h3>
        </div>
        <div class="col-sm-10">
            <h3 style="font-weight:bold;">My Students' Awards</h3>
            {% for award in std_awards %}
                <div class="item no_mb">
                    <p class="long-and-truncated">· {{ award.Students | join: ", " }}, {{ award.Title }}</p>
                    <div class="title_item" style="font-size:x-small;">
                        <div style="padding-left: 7px;">- Awarded by {{ award.Organization }}</div>
                        <div class="date">{{ award.Date | date: "%b, %Y" }}</div>
                    </div>
                </div>
            {% endfor %}
            <div class="item"></div>

            <h3 style="font-weight:bold;">Projects</h3>
            {% for project in site.data.projects %}
                <div class="item no_mb">
                    <p class="long-and-truncated">· {{ project.title }}</p>
                    <div class="title_item" style="font-size:x-small;">
                        <div style="padding-left: 7px;">- Supported by {{ project.funder }}</div>
                        <div class="date">{{ project.date }}</div>
                    </div>
                </div>
            {% endfor %}
            <div class="item"></div>

            <h3 style="font-weight:bold;">Talks or Guest Lectures</h3>
            {% for talk in sorted_talks %}
                <div class="item no_mb">
                    <p class="long-and-truncated">· <a href="{{ talk.Slide.url }}" target="_blank">{{ talk.Title }}</a></p>
                    <div class="title_item" style="font-size:x-small;">
                        <div style="padding-left: 7px;">- Talked at {{ talk.Venue }}</div>
                        <div class="date">{{ talk.Date | date: "%b. %Y" }}</div>
                    </div>
                </div>
            {% endfor %}
            <div class="item"></div>

            <h3 class="text-bold">Patents</h3>
            {% for patent in sorted_talks %}
                <div class="item no_mb">
                    <div class="title_item">
                        <div>· <a href="{{ patent.DOI.url }}" target="_blank">{{ patent.Title | truncatewords: 6 }}</a> </div>
                        <div class="date">
                            {{ patent.FilingDate | date: "%b. %Y" }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="item"></div>

            <h3 style="font-weight:bold;">Teaching Experience - Instructor</h3>
            {% for lecture in site.data.lectures %}
                <div class="item no_mb">
                    <div class="title_item">
                        <div>· {{ lecture.title }} @ {{ lecture.school }} </div>
                        <div class="date">
                        {% for year in lecture.years %}
                            {{ year }}
                            {% if forloop.last == false %}
                            |
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>