<div class="container section">
    <div class="row">
        <div class="col-sm-2">
            <h3 class="section-title">Position</h3>
        </div>
        <div class="col-sm-10">
            <div class="item">
                <div class="title_item">
                    <div class="title">Assistant Professor</div>
                    <div class="date">Sep. 2020 - Present</div>
                </div>
                <p>Department of Computer Science and Engineering</p>
                <p>Jeonbuk National University</p>
            </div>
            <div class="item">
                <div class="title_item">
                    <div class="title">Postdoctoral Research Fellow</div>
                    <div class="date">Mar. 2020 - Aug. 2020</div>
                </div>
                <p>Data Mining Lab.</p>
                <p>Seoul National University</p>
            </div>
        </div>
    </div>
</div>
